:root{
            --secondary: #764ba2;
            --secondaire: #ce0000aa;
            --blanc:rgba(55, 218, 60, 0.216) ;  
            --rouge:red;

}
        .entete{
            width: 100vw;
            height: 15vh;
            background: var(--blanc);
            
            position: relative;
            


        }
        .saut_depage_blanc{
            background-color: white;
            height: 20%;
            width: 100%;
         }
        .connexion{
            position:absolute;
            bottom: 15px;
            right: 125px
            
            
           
            

        }

        .btn_connecter{
            border-radius: 5px;
            width: 60%;
            height: 35%;
            background-color: aqua;
            border: 3px solid rgb(238, 12, 12);
            color:#764ba2;
         }
         