:root{
    --bleu:#4E5FFB;
    --blanc:#fff;
    --noir:#000;
    --gris:#808080;
    --grisclaire:#f3f1f1;
    --jaune:#FFD700;
    --rouge:#FF0000;
    --vert:#008000;
}


.ac{
  display: flex;                   /* pour centrer le carré */
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f2e7bf;
 
}
.accueil{
    height: 97%;
    width: 97%;
    border-radius: 20px; /* pour  arrondir des coins */
    background-color:white;
    
}

.entete_accueil{
    
    padding: 10px 0;
    height: 12vh;
    width: 100%;
    
}

.Styl{
    font-size: 25px;
    font-weight:bold;
    font-family: Sora, sans-serif !important;
}  
.case{
    color: #4E5FFB;
    background-color: #141f4d
}
.cr{
    font-size: 20px;
    font-weight:600;
     font-family: Sora, sans-serif !important;
     color:#fff
}
.cre{
    font-size: 16px;
    font-weight:400;
    font-family: Sora, sans-serif !important;
    color:#dedfea;

}
.signin{
    padding-block: 1px;
    padding-inline:6px;
    color: #fff;
    background-color:#293eff; 
    padding: 6px 25px;
    font-weight:600 ;
    
}
.inscript{
    background-color: #f2e7bf;
    width: 100vw;
    height:100vh

}
.couleur-titre{
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: Sora, sans-serif !important;
    margin-top: 10px;
    margin-bottom: 10px;
}